@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik&display=swap');

:root {
	--color-background: #20323c;
	--color-box: #3f4c55;
	--color-blue: #078cf3;
	--color-gray-text: #8ea1a8;
	--color-white-text: #fbfcf8;

	--text-transition: 0.2s;

	--aside-gap: 25px;
	--content-gap: 30px;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: Rubik, Poppins;
}

.ai-center {
	display: flex;
	align-items: center;
} .go-center {
	display: flex;
	align-items: center;
	justify-content: center;
} .btn {
	padding: 7px 12px;
	border-radius: 25px;
	background-color: var(--color-gray-text);
	color: white;
	cursor: pointer;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 275px 1fr;
	grid-template-rows: 100vh;
	background-color: var(--color-background);
	color: var(--color-white-text);
}

.sidebar {
	padding: 35px 25px;
	border-right: 1px solid #39474f;
}

.sidebar__menu {
	margin: 40px 0;
}

.sidebar__menu-title {
	color: var(--color-blue);
	letter-spacing: 3px;
	font-size: 0.9rem;
	margin-bottom: 10px;
}

.sidebar__menu-link {
	padding: 10px 0;
}

.sidebar__menu-icon {
	font-size: 1.5rem;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	transition: var(--text-transition);
}

.sidebar__menu-text {
	transition: var(--text-transition);
}

.sidebar__menu-item.active .sidebar__menu-icon {
	background-color: var(--color-blue);
}

.sidebar__menu-icon,
.sidebar__menu-text {
	color: var(--color-gray-text);
}

.sidebar__menu-item.active .sidebar__menu-icon,
.sidebar__menu-item.active .sidebar__menu-text,
.sidebar__menu-item:hover .sidebar__menu-text,
.sidebar__menu-item:hover .sidebar__menu-icon {
	color: var(--color-white-text);
}

/* start main here */
main {
	display: grid;
	grid-template-columns: 1fr 350px;
}

.account {
	display: flex;
	align-items: center;
	gap: 10px;
}

.iconWrapper {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 1.2rem;
	cursor: pointer;
}

.account__picture {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

.account__info2 {
	color: var(--color-gray-text);
}

.content {
	max-height: 100vh;
	overflow: auto;
	scrollbar-width: none;
	padding: var(--content-gap);
}

.content::-webkit-scrollbar {
	width: 0;
}

.searchbar {
	position: relative;
}

.searchbar__input {
	width: 100%;
	padding: 15px 0;
	padding-left: 55px;
	border-radius: 15px;
	background-color: var(--color-box);
}

.searchbar__icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
	height: 100%;
}

.searchbar__input,
.searchbar__icon {
	color: var(--color-gray-text);
}

.suggestBox {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("img/suggest.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 250px;
	border-radius: 30px;
	margin: var(--content-gap) 0;
	display: flex;
}

.suggestBox__section {
	flex: 1;
}

.suggestBox__section:first-child {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 40px;
}

.suggestBox__text {
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.suggestBox__link {
	background-color: white;
	color: black;
}

.suggestBox__link:last-child {
	margin-left: 10px;
	background: none;
	color: white;
}

.suggestBox__picture {
	width: 100%;
	height: 100%;
}

.nftBox__header {
	justify-content: space-between;
}

.nftBox__links {
	gap: 15px;
}

.nftBox__link {
	color: var(--color-gray-text);
	transition: var(--text-transition);
	position: relative;
}

.nftBox__link::after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--color-blue);
	border-radius: 10px;
	transform: scale(0);
	transform-origin: center;
	transition: 0.4s;
}

.nftBox__link.active,
.nftBox__link:hover {
	color: var(--color-white-text);
}

.nftBox__link.active::after,
.nftBox__link:hover::after {
	transform: scale(1);
}

.nftBox__nftList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: 425px;
	align-items: flex-end;
	grid-gap: var(--content-gap);
}

.nftBox__nft {
	background-color: var(--color-box);
	border-radius: 2.5rem;
	height: 325px;
	position: relative;
	padding: 0 20px;
	padding-top: 100px;
}

.nftBox__nft-pictureBox {
	width: 175px;
	height: 175px;
	border-radius: inherit;
	overflow: hidden;
	position: absolute;
	top: -50%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.nftBox__nft-picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nftBox__nft-like {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #0000003d;
	backdrop-filter: blur(10px);
}

.nftBox__nft-row {
	margin: 20px 0;
	justify-content: space-between;
}

.nftBox__nft-button {
	padding: 13px 20px;
	font-size: 1rem;
	color: white;
	background-color: var(--color-blue);
	margin: 0 auto;
	margin-top: 40px;
	display: block;
}

.aside__header {
	padding: 0 var(--aside-gap);
	height: 100px;
	gap: 20px;
}

.aside__header-notification {
	background-color: var(--color-box);
	position: relative;
}

.aside__header-notification::after {
	content: "";
	width: 7px;
	height: 7px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 50%;
	background-color: red;
}

.aside__header .account__picture {
	width: 40px;
	height: 40px;
}

.aside__content {
	background-color: var(--color-box);
	height: calc(100vh - 100px);
	border-radius: 40px 0 0 0;
	padding: 50px var(--aside-gap);
}

.aside__list:last-child {
	margin-top: 50px;
}

.aside__list-item {
	justify-content: space-between;
	margin: 15px 0;
}

.aside__list:first-child .aside__list-item .account__picture {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.aside__list:last-child .aside__list-item .account__picture {
	width: 45px;
	height: 45px;
}

.aside__list-time {
	font-size: 0.9rem;
	color: var(--color-gray-text);
}

.aside__list-follow {
	background-color: var(--color-blue);
}